@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  height: 70px;
  background-color: #fff;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
}

/* .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
} */

.nav__links a,
.logo,
.btn-buy {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #7b809a;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
  font-size: 15px;
}

.nav__links li a:hover {
  color: #0088a9;
}

.btn-buy {
  appearance: none;
  border: 0;
  background: linear-gradient(180deg, #e93b77 0%, #da1f63 100%);
  border-radius: 8px;
  color: #fff;
  padding: 8px 16px;
  font-size: 12px;
}
/* #DA1F63
 */
.btn-buy:hover {
  cursor: pointer;
}

/* Mobile Nav */

.menu {
  display: none;
}

.cta {
  padding: 9px 25px;
  background: linear-gradient(180deg, #e93b77 0%, #da1f63 100%);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
  color: #fff;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
  text-decoration: none;
  color: #7b809a;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #ababab;
  cursor: pointer;
}

/* SECTION ABOUT US */

.about {
  height: 100vh;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .main-1 img {
  width: 360px;
  max-width: 100%;
  height: auto;
  padding: 0 10px;
}

.about__text {
  width: 400px;
  max-width: 100%;
  padding: 0 10px;
}

.main-1 {
  width: 1200px;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.main-1 h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  color: #344767;
}

.main-1 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 29px;
  color: #7b809a;
  width: 380px;
  margin: 10px 0;
}

.main-1 li {
  color: #7b809a;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
}

/* SECTION CONTACT US */

.contact {
  margin-top: 50px;
  margin-bottom: 100px;
}

.main-2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 100px;
}

.contact-box {
  max-width: 960px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
  height: 100%;
  background: url("../img/bg-contact.jpg") no-repeat center;
  background-size: cover;
}

.right {
  padding: 25px 40px;
}

.main-2 h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

.main-2 h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #2ecc71;
}

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

textarea {
  min-height: 150px;
}

.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #2ecc71;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #27ae60;
}

.field:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
}

.map div iframe {
  height: 300px;
  border: 20px solid rgba(36, 38, 43, 1);
  margin-bottom: -10px;
}

.footer-box {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta,
  .btn-buy {
    display: none;
  }
  .menu {
    display: initial;
  }
}

@media screen and (max-width: 880px) {
  .contact-box {
    grid-template-columns: 1fr;
  }
  .left {
    height: 200px;
  }
}

@media screen and (max-width: 968px) {
  .about__text {
    margin-bottom: 20px;
  }
  .about {
    margin-bottom: 100px;
    margin-top: 100px;
  }

  .contact {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 1180px) {
  .section__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 190px;
    margin-left: 20px;
  }

  .section__item {
    margin-top: 50px;
  }
}
